.im img{
    width: 100%;
    height: auto;
}
.ma{
    margin-top: 2em;
}
.bu{
    padding: 2em;
    background-color: chartreuse;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property:background-color ;
    
}
a{
   color: inherit;
}
.bu:hover{
    background-color: rgb(128, 128, 240);

}

.ko {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aliceblue;
}
